# https://peps.python.org/pep-0517/
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

# https://peps.python.org/pep-0621/
[project]
name = "merfish3d-analysis"
description = "GPU-accelerated MERFISH processing"
readme = "README.md"
requires-python = ">=3.12"
license = { file = "LICENSE" }
authors = [
    { email = "douglas.shepherd@asu.edu", name = "Douglas Shepherd" },
]
classifiers = [
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Operating System :: POSIX :: Linux",
    "License :: OSI Approved :: BSD License"
]
dynamic = ["version"]
dependencies = ["numpy", "tifffile", "zarr<3.0", "numba",
                "numcodecs", "psfmodels", "cmap", "SimpleITK", 
                "tqdm", "ndstorage", "roifile",
                "pyarrow", "tbb", "shapely", "scikit-image<0.24",
                "imbalanced-learn", "scikit-learn", "rtree",
                "ryomen", "tensorstore", "jax[cuda12_local]==0.4.34",
                "napari[pyqt6]", "napari-ome-zarr", "onnxruntime-gpu",
                "ufish @ git+https://github.com/QI2lab/U-FISH.git@main",
                "multiview-stitcher @ git+https://github.com/multiview-stitcher/multiview-stitcher@main",
                "deeds @ git+https://github.com/AlexCoul/deeds-registration@flow_field",
                "basicpy @ git+https://github.com/QI2lab/BaSiCPy.git@main"]

[tool.hatch.version]
path = "src/merfish3danalysis/__init__.py"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
only-include = ["src"]
sources = ["src"]

[tool.ruff]
ignore = ["E402"]

# extras
# https://peps.python.org/pep-0621/#dependencies-optional-dependencies
[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-mock"
]
docs = [
    "mkdocs",
    "mkdocs-material",
    "mkdocstrings[python]",
    "mkdocs-gen-files",
    "mkdocs-literate-nav",
    "mkdocs-minify-plugin",
    "mkdocs-mermaid2-plugin"
]

[project.urls]
Source = "https://github.com/qi2lab/merfish3d-analysis"
Tracker = "https://github.com/qi2lab/merfish3d-analysis/issues"
